.container{
  width: 950px;
  background-color: silver;
  margin: 0px auto;
  padding-bottom: 15px;
  padding-top: 15px;
}
.top-nav {
  height: 150px;
  width: 930px;
  background-color: green;
  margin-left: 15px;
  margin-right: 15px;
}
.side-nav {
  height: 300px;
  width: 190px;
  background-color: blue;
  margin: 15px;
  display: inline-block;
}
.main {
  height: 400px;
  width: 700px;
  background-color: red;
  margin-top: 15px;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  padding-left: 15px;
}
.sub-content {
  height: 200px;
  width: 210px;
  background-color: yellow;
  margin: 5px;
}
#advertisement {
  height: 120px;
  width: 660px;
  background-color: purple;
  margin-top: 5px;
  display: inline-block;
}
.row {
  /* TODO - what should go here? */
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

